site_name: mission 1 mille nuits un

theme:
  name: material
  palette:
    scheme: default
    primary: indigo
    accent: cyan
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.top
    - content.code.copy
